@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --font: "Red Hat Text", sans-serif;
}
html {
  height: 100vh;
}
.header .img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
/*Agendamentos*/
.main {
  margin: 0 auto;
  width: 1100px;
}
.agendamentos .agendamentos-menu {
  display: grid;
  gap: 8px;
  margin: 20px auto;
}
.agendamentos .agendamentos-menu li {
  font-family: var(--font);
  font-size: 0.9rem;
  text-transform: uppercase;
}

.agendamentos .agendamentos-menu li:hover {
  cursor: pointer;
}

.agendamentos .agendamentos-menu .agenda-on {
  color: #ff8a1c;
}
.agendamentos .agendamentos-menu .agenda-on::after {
  display: none;
}
.agendamentos .agendamentos-menu .agenda-on::before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  background: #000000;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: 2px;
}
.agendamentos .agendamentos-menu .voltar {
  margin: 60px 270px 0;
}
.agendamentos .agendamentos-menu .voltar a:hover {
  color: #ff8a1c;
}
.table {
  width: 1100px;
  margin: 20px 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}
.table tr th {
  padding: 12px;
  border: 1px solid rgb(132, 132, 139);
  border-radius: 12px 10px 0px 0px;
  text-transform: capitalize;
}
.table tr td {
  padding: 12px;
  text-align: center;
}
.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover {
  background: #ffb26b;
  color: #ffffff;
  cursor: pointer;
}

.icone-adicionar {
  display: block;
  align-items: center;
  padding: 12px;
  width: fit-content;
  height: 24px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icone-adicionar ion-icon {
  color: #000000;
  width: 24px;
  height: 24px;
}

.icone-adicionar:hover ion-icon {
  border-color: #ff8a1c;
  color: #ff8a1c;
}
/*formulario*/

.formulario {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
}
.formulario h1 {
  margin-bottom: 12px;
  font-family: var(--font);
}
.formulario input {
  margin: 0 12px;
  align-self: center;
  height: 40px;
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.formulario label {
  font-family: var(--font);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.formulario .ajuste {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  margin-bottom: 12px;
}

.formulario .agenda-conteudo textarea {
  width: 374px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  background: none;
}

.formulario .agenda-data input {
  width: 137px;
}

.formulario .agenda-data {
  display: grid;
  grid-template-columns: 80px auto 80px auto;
  align-items: center;
}

.formulario .btn {
  width: fit-content;
  justify-self: center;
  padding: 12px 8px;
  margin-top: 20px;
  background: rgba(227, 204, 204, 0.172);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--font);
}
.formulario .btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.img-remover {
  padding: 12px;
  width: fit-content;
  height: 24px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.img-remover ion-icon {
  color: #000;
  width: 24px;
  height: 24px;
}
.img-remover:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.img-remover:hover ion-icon {
  color: #ff8a1c;
}
