@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --font: "Red Hat Text", sans-serif;
}

.header .img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
/*Agendamentos*/
.agendamentos .agendamentos-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}
.agendamentos .agendamentos-menu li {
  font-family: var(--font);
  font-size: 0.9rem;
  text-transform: uppercase;
}
.agendamentos .agendamentos-menu li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.8s;
}

.agendamentos .agendamentos-menu li:hover {
  cursor: pointer;
}
.agendamentos .agendamentos-menu li:hover::after {
  width: 100%;
}
.agendamentos .agendamentos-menu .agenda-on {
  color: #ffb26b;
}
.agendamentos .agendamentos-menu .agenda-on::after {
  display: none;
}
.agendamentos .agendamentos-menu .agenda-on::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px dashed green;
  border-radius: 50%;
  margin-right: 4px;
}
.table {
  margin: 40px auto 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}
.table tr th {
  padding: 12px;
  border: 1px solid rgb(132, 132, 139);
  border-radius: 12px 10px 0px 0px;
  text-transform: capitalize;
}
.table tr td {
  padding: 12px;
  text-align: center;
}
.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover {
  background: #ffb26b;
  color: #ffffff;
  cursor: pointer;
}

.icone-adicionar {
  display: block;
  align-items: center;
  margin: 0 380px;
  padding: 12px;
  width: fit-content;
  height: 24px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icone-adicionar ion-icon {
  color: #000000;
  width: 24px;
  height: 24px;
}

.icone-adicionar:hover ion-icon {
  border-color: #ff8a1c;
  color: #ff8a1c;
}
/*formulario*/

.formulario {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
}
.formulario input {
  margin: 0 12px;
  align-self: center;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.formulario label {
  font-family: var(--font);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.formulario .agenda-cliente input {
  width: 420px;
}
.formulario .agenda-titulo input {
  width: 411px;
}

.formulario .agenda-conteudo textarea {
  width: 380px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.formulario .agenda-data input {
  width: 137px;
}

.formulario .btn {
  width: fit-content;
  justify-self: center;
  padding: 12px 8px;
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--font);
}
.formulario .btn:hover {
  cursor: pointer;
  border-color: #ffb26b;
  color: #ff8a1c;
}

.hidden {
  display: none;
}

.img-remover {
  padding: 12px;
  width: fit-content;
  height: 24px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.img-remover ion-icon {
  color: #000;
  width: 24px;
  height: 24px;
}
.img-remover:hover ion-icon {
  color: #ff8a1c;
}
